# Web Framework
Flask==2.2.5
flask-cors==3.0.10
gunicorn==20.1.0
requests==2.31.0

# YOLO + OpenCV
ultralytics==8.3.105
opencv-python==4.8.1.78
numpy==1.23.5

# OCR Support
paddleocr==2.6.1.3
paddlepaddle==2.5.1  # Disarankan untuk CPU, gunakan Python <=3.11

# Tools untuk kompatibilitas jika pakai Python >=3.12
setuptools==69.5.1
