# Web Framework
Flask==2.2.5
flask-cors==3.0.10
gunicorn==20.1.0
requests==2.31.0

# YOLO + OpenCV
ultralytics==8.0.18  # Gunakan versi yang tersedia atau coba yang terbaru
opencv-python==4.8.1.78
numpy==1.23.5

# OCR Support
paddleocr==2.6.1.3
# Catatan: Versi paddlepaddle di bawah ini disarankan untuk CPU
paddlepaddle==2.5.1
